/* # Hosting Reviews Theme
Theme Name: Hosting Reviews Theme
Theme URI: https://bitbucket.org/parenthesis/web-hosting-reviews-template
Description: Web Hosting Reviews Template. Child theme of Genesis Framework.
Author: Parenthesis Tech
Author URI: https://parenthesis.io/
Template: genesis
Template Version: 2.2.2
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- Primary Navigation
	- Secondary Navigation
	- Skip Links
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
- Print Styles
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 1.8rem;
}

body {
	background-color: #f5f5f5;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a {
	color: #00BEB2;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: #333;
	text-decoration: none;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
	background-color: #c3251d;
	color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: #fff;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #c3251d;
	color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets input:focus[type="button"],
.footer-widgets input:focus[type="reset"],
.footer-widgets input:focus[type="submit"],
.footer-widgets .button:focus {
	background-color: #fff;
	color: #333;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100% !important;
	text-align: left;
	margin-bottom: 2em;
	border-collapse: collapse;
}

tbody {
	border-bottom: 1px solid #ddd;
}

tr {
	height: 24px;
}

td,
th {
	height: 24px;
}

td {
	border-bottom: solid 1px #dbdbdb;
	padding: 0.5em 0.8em;
}

th {
	font-weight: bold;
	color: #292929;
	padding: 0.5em 0.8em;
	border-bottom: solid 2px #0a9ff0;
}

table tbody tr:hover td {
	background: rgba(211,233,242,.38);
}

table tbody img {
	border: 5px solid #ddd;
	padding: 0;
}

table tbody td.text-link a:before {
	content: "\f105";
	box-sizing: inherit;
}

table tbody td.text-link a {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
	position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1250px;
}

.site-inner {
	clear: both;
	margin-top: 80px;
}

.single-hosting-review .site-inner {
	margin-top: 10px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	width: 850px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 580px;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover,
.entry-title a:focus {
	color: #c3251d;
}

.widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.footer-widgets .widget-title {
	color: #fff;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: #fff;
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid #333;
}

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: #c3251d;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
	background-color: #fff;
	color: #333;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	min-height: 80px;
}

.site-header .wrap {
	padding: 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: 360px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #333;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat left;
	float: left;
	min-height: 60px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 30px 24px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	color: #c3251d;
	text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #333;
}

.nav-primary .genesis-nav-menu a {
	color: #ccc;
	text-decoration: none;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #fff;
	text-decoration: underline;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	color: #333;
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #c3251d;
	text-decoration: underline;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 0;
}

.content .entry {
	background-color: #fff;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
	background-color: #c3251d;
	text-decoration: underline;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;
}

.comment-header {
	font-size: 16px;
	font-size: 1.6rem;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: 0;
}

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
}

.sidebar li {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 40px;
}


/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #00BEB2;
	clear: both;
	padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
	color: #aaa;
}

.footer-widgets input {
	border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover,
.footer-widgets a:focus {
	color: #fff;
}

.footer-widgets li {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 340px;
}

.footer-widgets-1 {
	margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 18px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .site-title > a {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.footer-widgets-1 {
		margin-right: 0;
	}

}

@media only screen and (max-width: 800px) {

	body {
		background-color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}

/* Sticky header */

.site-header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#section-title {
	padding-top: 80px; /*height of header (can be easily obtained using Firebug)*/
}

header.site-header:after {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.05);
	-o-box-shadow: 0 1px 6px rgba(0,0,0,0.05);
	box-shadow: 0 1px 6px rgba(0,0,0,0.05);
	position: absolute;
	content: "\020";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-bottom: solid 1px rgba(41,41,41,0.1);
	z-index: -1;
}

#section-title .wrap {
	max-width: inherit;
	position: relative;
	background: #00BEB2;
	border: solid #dbdbdb;
	border-width: 1px 0;
	padding: 18px 0;
	background-image: -webkit-linear-gradient(#00BEB2, #00BEB2);
	background-image: -moz-linear-gradient(#00BEB2, #00BEB2);
	background-image: -o-linear-gradient(#00BEB2, #00BEB2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BEB2', endColorstr='#00BEB2');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BEB2', endColorstr='#00BEB2')";
	background-image: linear-gradient(#00BEB2, #00BEB2);
	-webkit-box-shadow: 0 2px 3px rgba(41, 41, 41, 0) inset;
	-moz-box-shadow: 0 2px 3px rgba(41, 41, 41, 0) inset;
	-o-box-shadow: 0 2px 3px rgba(41, 41, 41, 0) inset;
	box-shadow: 0 2px 3px rgba(41, 41, 41, 0) inset;
}

#section-title .container {
	margin: 0 auto;
}

#section-title .container h1.title {
	font-weight: 700;
	font-size: 1.8em;
	margin: 0;
}

#section-title .container small.meta {
	display: block;
	margin: 0.4em 0 0 0;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

div.breadcrumb {
	border-bottom: solid 1px #eeeeee;
	padding: 13px 0;
	margin-bottom: 0;
	font-size: 15px;
}

div.breadcrumb .container {
	font-size: 90%;
	color: #898989;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}

.container {
	padding-right: 0;
	padding-left: 0;
	width: 940px;
	margin: 0 auto;
}

@media (min-width: 1250px) {
	.container {
		width: 1220px;
	}
}

ul.ess-buttons {
	text-align: right;
	margin: 0 0 0.5em 0 !important;
}

ul.ess-buttons a.ess-button:last-child {
	padding-right: 0;
}

.quick-facts-box {
	width: 300px;
	float: right;
	margin: 0px 0px 10px 10px;
	border: 1px solid #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	font-size: 14px;
	line-height: 20px;
}

.quick-facts-box-wrapper {
	clear: both;
	padding: 10px;
	background: none repeat scroll 0 0 #F6F6F6;
	border: 2px solid white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.content h3 {
	font-size: 120% !important;
	font-weight: bold;
}

.quick-facts-box h3 {
	font-size: 14px;
	margin: 10px 0 5px 0;
}

.clear {
	clear: both;
}

.quick-facts-box dl {
	margin: 0;
}

.quick-facts-box dt {
	float: left;
}

.quick-facts-box dd {
	float: left;
}

.quick-facts-box a {
	text-decoration: none;
}

.quick-facts-box dd,
span.rating_date,
span.reviewer.author {
	margin-left: 15px;
}

.clear_space {
	height: 5px;
	clear: both;
}

.quick-facts-box div.hr {
	height: 1px;
	background: #E0E0E0;
	margin: 5px 0 5px 0;
}

.quick-facts-box .more-details-cta {
	clear: both;
	float: right;
}

.quick-facts-box .more-details-cta-btn {
	background-color: #00BEB2;
	padding: 5px 10px;
	color: #fff !important;
	font-weight: bold;
	border-radius: 3px;
	text-decoration: none !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 1px 1px #666;
}

#main-features-sidebar .widgettitle {
	font-weight: bold;
	color: #292929;
	padding: 0.5em 0.8em;
	border-bottom: solid 2px #00BEB2;
}

#section-title small.meta {
	font-weight: 400;
}

dt {
	font-weight: inherit;
}

.data-out {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.data-label {
	float: left;
	width: 50%;
}

.data-value {
	float: right;
	width: 50%;
}

#main-features-sidebar .widgetbody > a,
#main-features-sidebar .data-out span {
	border-bottom: solid 1px #dbdbdb;
	padding: 0.5em 0;
}

.green {
	color: green;
}

#main-features-sidebar .widget-wrap {
	margin-bottom: 20px;
}

#main-features-sidebar h3 {
	margin: 0;
}

#main-features-sidebar .first {
	margin: inherit;
}

#main-features-sidebar {
	margin-bottom: 100px;
}

.p-content-box {
	padding: 10px;
	border-radius: 5px;
}

.p-content-box ul {
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}

.p-content-box.check-orange li {
	list-style-image: url(images/orange-checkmark.png);
}

.p-content-box.green-check li {
	list-style-image: url(images/green-checkmark.png);
}

.p-content-box.red-x li {
	list-style-image: url(images/red-x.png);
}

.p-content-box ul li {
	list-style-position: inside;
	padding: 15px 15px !important;
	line-height: 25px !important;
	margin: 0 0 0 2.571428571rem;
	color: #333333;
	font-size: 18pt;
}

.p-content-box a {
	color: #199ed2 !important;
	text-decoration: none !important;
	font-weight: 400;
}

.p-content-box a:hover {
	color: #199ed2 !important;
	text-decoration:underline !important;
	color:#069 !important;
}

.p-content-box.blue {
	color: white;
	background-color: #178fbb;
}

.p-content-box.gray {
	background-color: rgb(236,236,236);
}

.p-content-box.yellow {
	background-color: yellow;
}

.p-pros-cons {
	width: 100%;
	min-height: 10px;
	overflow: hidden;
}

.p-pros-cons .p-pros-cons-box {
	border: 2px solid #ececec;
	float: left;
	padding: 2%;
	width: 48%;
	background: #fff;
}

.p-pros-cons .p-pros-cons-box h4,
.p-pros-cons .p-pros-cons-box.pright h4 {
	background: #5FD76F;
	color: #fff;
	text-align: center;
	margin-top: 0px;
	font-size: 22px;
	padding: 15px;
}

.p-pros-cons .p-pros-cons-box ul {
	list-style: disc;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}

.p-pros-cons .p-pros-cons-box ul li {
	background: url("images/green-checkmark.png") no-repeat scroll left 4px;
	list-style: outside none none;
	margin: 0 0 0 10px;
	padding: 0 15px 11px 26px !important;
	line-height: 25px !important;
}

.p-pros-cons .p-pros-cons-box.pright {
	float: right;
}

.p-pros-cons .p-pros-cons-box.pright h4 {
	background: #EF685F;
}

.p-pros-cons .p-pros-cons-box.pright ul li {
	background: url("images/red-x.png") no-repeat scroll left 2px;
}

.p-green-box {
	position: relative;
	padding: 18px 17px 17px;
	margin-bottom: 1.1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.p-green-box.icon {
	padding-left: 50px;
}

.p-green-box.success {
	background: #e1f7dd;
	color: #579714;
	border: solid 1px #a8d1a0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0 0 8px rgba(32, 116, 32, 0.08) inset;
	-moz-box-shadow: 0 0 8px rgba(32, 116, 32, 0.08) inset;
	-o-box-shadow: 0 0 8px rgba(32, 116, 32, 0.08) inset;
	box-shadow: 0 0 8px rgba(32, 116, 32, 0.08) inset;
}

.p-green-box p {
	margin-bottom: 0px;
}

.p-green-box.icon>i:first-child {
	position: absolute;
	line-height: 1.75em;
	font-size: 1.75em;
	width: 50px;
	height: 1.75em;
	text-align: center;
	top: 50%;
	left: 0;
	margin-top: -0.87em !important;
	opacity: 0.9;
	text-shadow: 0 1px 0 white;
}

.p-green-box>.content {
	float: inherit;
	width: inherit;
}

.p-green-box>.content p {
	position: relative;
	z-index: 1;
}

.p-green-box>.content>*:first-child {
	margin-top: 0 !important;
}

.p-green-box>.content>*:last-child,
.p-green-box>.content>.last-child {
	margin-bottom: 0 !important;
}

.p-green-box.success strong {
	color: #4a8011;
}

.p-green-box:after {
	position: absolute;
	display: block;
	content: "\020";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
	-o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset;
}

.green-btn {
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.green-btn a {
	text-decoration: none;
	background: #6ea726;
	color: #fff;
	font-size: 22px;
	padding: 10px 12px;
}

.well.p-coupon-box {
	padding: 6px 12px;
}

.well.p-coupon-box p {
	float: left;
	font-size: 16px;
	line-height: 68px;
	margin: 0 0 0 10px;
}

a.p-coupon-box {
	display: inline-block;
	clear: right;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

a.p-coupon-box.simple {
	background-color: #007ecb;
	margin: 10px;
	border: 2px dashed #fff;
	border-radius: 10px;
	font-weight: 400;
	box-shadow: 0 0 0 3px #007ecb,2px 1px 6px 4px rgba(10,10,0,.5);
}

a.p-coupon-box.simple,
a.p-coupon-box.simple:hover {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}

a.p-coupon-box.simple:hover {
	background-color:#b94a4d;
	box-shadow:0 0 0 3px #b94a4d,2px 1px 6px 4px rgba(10,10,0,.5);
	transition:all .3s ease-out
}

a.p-coupon-box.large {
	font-size: 17px;
	font-weight: 700;
	padding: 12px 22px;
}

.p-table-icon {
	display: inline-block;
}

.post-type-archive-hosting-review .site-inner {
	margin-top: 80px;
}

.tag {
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 4px 7px;
}

.tag-top-rated {
	background-color: rgb(87, 162, 239);
	position: relative;
	z-index: 3;
	top: 38px;
	left: 15px;
}

.breadcrumb {
	background-color: inherit;
}

article.host-item {
	margin-bottom: 10px;
}

article.host-item .inner-host-item {
	margin-bottom: 0px;
	background-color: rgb(255, 255, 255);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-shadow: rgb(244, 247, 251) 0px 1px 0px;
	width: 100%;
	position: relative;
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(228, 234, 241);
	border-radius: 3px;
}

.type-host .host-col {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	overflow: hidden;
}

.type-host .host-col-item {
	padding-top: 20px;
	padding-bottom: 20px;
}

.type-host .host-thumb {
	align-self: flex-start;
	max-width: 20%;
	padding: 20px;
}

.type-host .host-info {
	width: 200px;
	align-self: flex-start;
}

.type-host .host-title {
	font-size: 25px !important;
	margin: 0px 0px 5px;
}

.type-host .host-title a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.type-host .price,
.type-host .uptime,
.type-host .page-load {
	margin: 0px;
}

.type-host .price small,
.type-host .uptime small,
.type-host .page-load small {
	color: rgb(154, 154, 154);
}

p small {
	font-size: 12px;
}

.type-host .rating-circles {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: 20px 20px 20px 0px;
}

.type-host .rating-circles .host-col-item {
	margin-right: 20px;
}

.type-host .rating {
	position: relative;
}

.type-host .rating canvas {
	max-width: 100%;
	height: auto;
}

.type-host .rating-overall * {
	display: block;
}

.type-host .rating-number {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 700;
	font-size: 20px;
	margin: -19px 0px 0px -14px;
}

.type-host .rating-label {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	color: rgb(183, 199, 210);
	position: relative;
	top: -5px;
}

.type-host .rating-circles .host-col-item:last-of-type {
	margin-right: 0px;
}

.type-host .rating-overall-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	min-width: 212px;
	flex-flow: row wrap;
	padding: 20px 10px;
}

.type-host .rating-overall {
	text-align: center;
}

.type-host .rating-overall-container .rating-number {
	color: rgb(255, 255, 255);
	position: static;
	top: auto;
	left: auto;
	font-size: 60px;
	font-weight: 700;
	margin: -20px 0px 0px;
}

.type-host .rating-overall-container .rating-label {
	color: rgb(255, 255, 255);
	top: -10px;
}

.type-host .rating-overall .btn-primary:hover {
	background-color: rgb(72, 160, 243);
}

.type-host .rating-overall .btn-primary {
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	margin-bottom: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-radius: 30px;
	background-color: rgb(35, 141, 240);
	padding: 4px 15px;
	font-size: 13px;
	text-decoration: none;
}

.hosting-info {
	padding: 10px 0 50px;
}

.post-type-archive-hosting-review  main.content {
	margin-bottom: 50px;
}

.hosting-info h2 {
	text-align: center;
}

.cta-articles-section {
	background-color: #eeeeee;
	color: #4f4f4f;
	padding-top: 17%;
	padding-bottom: 36%;
	text-align: center;
}

section.block {
	position: relative;
	z-index: 1;
}

@media (min-width: 1200px) {
	.row-fluid {
		width: 100%;
	}

	.row-fluid:before, .row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}

	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}

	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.564102564102564%;
	}

	.row-fluid .span2 {
		width: 14.52991452991453%;
	}

}

.bw {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.meteor-capsule {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 200ms ease-in-out;
	-moz-transition: background 200ms ease-in-out;
	-o-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
	display: inline-block;
	background: #0a9ceb;
	padding: 0.16em 0.75em;
	color: #ffffff !important;
	text-decoration: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.meteor-capsule:hover {
	background: #4f4f4f;
}

.bw:hover {
	-webkit-filter: grayscale(100%);
}



/* 4-Column Footer (Overrides default 3-column setup in Genesis, so that code must remain in place)
---------------------------------------------------------------------------*/

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4 {
	width: 21.875%; /* 252px / 1152px */
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	float: left;
	margin-right: 4.166666666%; /* 48px / 1152px */
}
.footer-widgets-4 {
	float: right;
}

@media only screen and (max-width: 768px) {

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		width: 47.9166666666%; /* 552px / 1152px */
	}

	.footer-widgets-2 {
		float: right;
		margin: 0;
	}

}

@media only screen and (max-width: 480px) {

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		width: 100%;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		margin: 0;
	}
}

.TopHostingCompaniesWidget ul li,
.widget_ultimate_posts .entry,
.widget_avh_extendedcategories_top li {
	border-bottom: none;
}

.TopHostingCompaniesWidget ul li a,
.widget_ultimate_posts a,
.widget_ultimate_posts a:hover,
.widget_avh_extendedcategories_top a {
	text-decoration: none !important;
	color: #fff;
}

.widget_ultimate_posts .entry-title {
	font-size: 1.8rem;
	font-weight: 300;
}

.upw-posts article {
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
}

.site-footer a {
	text-decoration: none;
}

.post-type-archive-hosting-review .hosting-info h3 {
	margin: 40px 0 10px;
}

.home .site-inner .entry-title {
	text-align: center;
	font-size: 4.6rem;
	color: #00BEB2;
}

.home .site-inner article.entry {
	margin-top: 30px;
}

.home .rev-item {
	margin-bottom: 50px;
}

.home .rev-info {
	padding: 0 0 50px 60px;
}

.home .rev-num {
	font-size: 26px;
	color: #fff;
	line-height: 1;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #00BEB2;
	position: absolute;
	left: 0;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
}

.home .rev-info h3 {
	min-height: 53px;
	padding-left: 55px;
	position: relative;
	color: #00BEB2;
	line-height: 2;
}

.home .review-process-content h3 {
	font-size: 1.5rem;
}

.home #step1 {
	padding-top: 50px;
}

.home .home-cta-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home .rev-image .center-block {
	padding-bottom: 40px;
}

.home .rev-image {
	text-align: center;
}

.home .rev-image .btn-success {
	background-color: #00BEB2;
	border-color: #00BEB2;
	border-radius: 0;
	padding: 10px 60px;
}

.archive .site-inner {
	margin-top: 32px;
}

.meteor-post.thumb-aside>.post-img {
	float: left;
}

.archive .site-inner #genesis-content img {
	float: left;
	border: 3px solid #ddd;
	padding: 0;
}


.archive .site-inner #genesis-content img:hover {
	opacity: .6;
}


.archive article.entry {
	padding-left: 20px;
	overflow: hidden;
}

.archive .entry-header a {
	text-decoration: none;
}

.archive-sidebar {
	padding: 12px 18px;
	border: 1px solid rgb(221, 221, 221);
	margin-bottom: 0px;
	background-color: rgb(238, 238, 238);
}

.archive-sidebar .widget {
	background-color: rgb(238, 238, 238);
	padding: 0;
}

.archive-sidebar .TopHostingCompaniesWidget ul li a {
	color: #333;
}

.archive-sidebar > * {
	margin-top: 20px;
}